<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <!--Giriş yapılmazsa yönlendirilecek sayfanın belirlenmesi.-->
      <forms name=".ASPXROLEBASED" loginUrl="Default.aspx" protection="All" path="/"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <location path="panel" allowOverride="true">
    <system.web>
      <authorization>
        <!--Deny users bölümünü rolü admin olmayanların da girmesini sağlayacak, herkez girebilecekti admin dışında.-->
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
    <system.web>
      <httpRuntime executionTimeout="1800" maxRequestLength="1048576" useFullyQualifiedRedirectUrl="false"/>
    </system.web>
  </location>
  <connectionStrings>
    <!--<add name="cigliconn" connectionString="Provider=Microsoft.JET.OLEDB.4.0;Data Source=|DataDirectory|\cigliwebdb.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>-->
    <add name="InternshipConnection" connectionString="Data Source=DESKTOP-V2DK1N4;Initial Catalog=internshipDB;Integrated Security=False;User Id=sa;Password=11223344a;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
